In [32]:
import openmeteo_requests
import requests_cache
import pandas as pd
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = 3600)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://api.open-meteo.com/v1/forecast"
params = {
	"latitude": -48.4814,
	"longitude": -72.5891,
	"hourly": ["temperature_2m","relative_humidity_2m", "dew_point_2m", "rain", "snowfall", "pressure_msl", "surface_pressure", "cloud_cover_low", "cloud_cover_mid", "cloud_cover_high", "vapour_pressure_deficit", "wind_gusts_10m", "soil_moisture_0_to_7cm"],
	"start_date": "2024-08-08",
	"end_date": "2024-08-08"
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates {response.Latitude()}째N {response.Longitude()}째E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

# Process hourly data. The order of variables needs to be the same as requested.
hourly = response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_relative_humidity_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_dew_point_2m = hourly.Variables(1).ValuesAsNumpy()
hourly_pressure_msl = hourly.Variables(4).ValuesAsNumpy()
hourly_surface_pressure = hourly.Variables(5).ValuesAsNumpy()
hourly_cloud_cover_low = hourly.Variables(6).ValuesAsNumpy()
hourly_cloud_cover_mid = hourly.Variables(7).ValuesAsNumpy()
hourly_cloud_cover_high = hourly.Variables(8).ValuesAsNumpy()
hourly_vapour_pressure_deficit = hourly.Variables(9).ValuesAsNumpy()
hourly_wind_gusts_10m = hourly.Variables(10).ValuesAsNumpy()
hourly_soil_moisture_0_to_1cm = hourly.Variables(11).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
	start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
	end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = hourly.Interval()),
	inclusive = "left"
)}
hourly_data["temperature_2m"] = hourly_temperature_2m
hourly_data["relative_humidity_2m"] = hourly_relative_humidity_2m
hourly_data["dew_point_2m"] = hourly_dew_point_2m
hourly_data["pressure_msl"] = hourly_pressure_msl
hourly_data["surface_pressure"] = hourly_surface_pressure
hourly_data["cloud_cover_low"] = hourly_cloud_cover_low
hourly_data["cloud_cover_mid"] = hourly_cloud_cover_mid
hourly_data["cloud_cover_high"] = hourly_cloud_cover_high
hourly_data["vapour_pressure_deficit"] = hourly_vapour_pressure_deficit
hourly_data["wind_gusts_10m"] = hourly_wind_gusts_10m
hourly_data["soil_moisture_0_to_7cm"] = hourly_soil_moisture_0_to_1cm

hourly_dataframe = pd.DataFrame(data = hourly_data)
print(hourly_dataframe)

Coordinates -48.375째N -72.625째E
Elevation 257.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s
                        date  temperature_2m  relative_humidity_2m  \
0  2024-08-08 00:00:00+00:00            2.27                  2.27
1  2024-08-08 01:00:00+00:00            2.27                  2.27
2  2024-08-08 02:00:00+00:00            2.07                  2.07
3  2024-08-08 03:00:00+00:00            1.82                  1.82
4  2024-08-08 04:00:00+00:00            1.57                  1.57
5  2024-08-08 05:00:00+00:00            1.57                  1.57
6  2024-08-08 06:00:00+00:00            0.77                  0.77
7  2024-08-08 07:00:00+00:00            0.67                  0.67
8  2024-08-08 08:00:00+00:00            0.67                  0.67
9  2024-08-08 09:00:00+00:00            0.87                  0.87
10 2024-08-08 10:00:00+00:00            1.07                  1.07
11 2024-08-08 11:00:00+00:00            1.42                  1.42
12 2024-08-08 12:00:00+00:00            1.22                  1.22
13 2024-08-08 13:00:00+00:00            1.32                  1.32
14 2024-08-08 14:00:00+00:00            1.67                  1.67
15 2024-08-08 15:00:00+00:00            2.52                  2.52
16 2024-08-08 16:00:00+00:00            3.57                  3.57
17 2024-08-08 17:00:00+00:00            4.52                  4.52
18 2024-08-08 18:00:00+00:00            6.47                  6.47
19 2024-08-08 19:00:00+00:00            6.92                  6.92
20 2024-08-08 20:00:00+00:00            6.92                  6.92
21 2024-08-08 21:00:00+00:00            6.57                  6.57
22 2024-08-08 22:00:00+00:00            6.27                  6.27
23 2024-08-08 23:00:00+00:00            6.17                  6.17

    dew_point_2m  pressure_msl  surface_pressure  cloud_cover_low  \
0           77.0           0.0       1027.300049       995.164307
1           77.0           0.0       1026.500000       994.389282
2           77.0           0.0       1026.300049       994.172729
3           77.0           0.0       1025.599976       993.465698
4           78.0           0.0       1025.199951       993.049744
5           79.0           0.0       1024.599976       992.468567
6           80.0           0.0       1024.199951       991.988892
7           79.0           0.0       1023.200012       991.008850
8           78.0           0.0       1022.299988       990.137146
9           76.0           0.0       1021.700012       989.579102
10          75.0           0.0       1021.200012       989.117920
11          74.0           0.0       1021.000000       988.964355
12          82.0           0.0       1020.799988       988.747559
13          89.0           0.0       1020.500000       988.468567
14          93.0           0.0       1019.799988       987.830322
15          90.0           0.0       1019.200012       987.345947
16          89.0           0.0       1018.500000       986.786316
17          88.0           0.0       1017.000000       985.439575
18          82.0           0.0       1015.099976       983.813965
19          78.0           0.0       1014.700012       983.475525
20          77.0           0.0       1014.400024       983.184753
21          77.0           0.0       1014.400024       983.146729
22          78.0           0.0       1014.400024       983.113525
23          79.0           0.0       1014.700012       983.393494

    cloud_cover_mid  cloud_cover_high  vapour_pressure_deficit  \
0              38.0               0.0                     43.0
1              44.0               0.0                      2.0
2              36.0               4.0                      0.0
3              30.0              43.0                     65.0
4              14.0             100.0                    100.0
5               0.0             100.0                    100.0
6               0.0              63.0                     99.0
7               0.0              42.0                     27.0
8               9.0              43.0                     57.0
9              49.0              34.0                     47.0
10             90.0              57.0                     53.0
11             73.0              66.0                     10.0
12             78.0              66.0                     13.0
13             81.0              68.0                     51.0
14             81.0              65.0                     10.0
15             77.0              60.0                     18.0
16             85.0              59.0                      0.0
17             86.0              65.0                      0.0
18             80.0              56.0                      0.0
19             79.0              58.0                      0.0
20             76.0              44.0                      0.0
21             76.0              47.0                      0.0
22             80.0              47.0                      0.0
23             79.0              41.0                      0.0

    wind_gusts_10m  soil_moisture_0_to_7cm
0         0.165963               11.520000
1         0.165963               10.799999
2         0.163613               12.240000
3         0.160717               11.879999
4         0.151004               12.240000
5         0.144141               12.599999
6         0.129606               11.159999
7         0.135107               10.799999
8         0.141539               10.799999
9         0.156648               11.159999
10        0.165541               13.679999
11        0.176546               15.840000
12        0.120487               16.919998
13        0.074164               15.119999
14        0.048395               15.840000
15        0.073456               16.199999
16        0.087034               17.280001
17        0.101492               17.280001
18        0.174280               18.000000
19        0.219695               18.719999
20        0.229681               19.799999
21        0.224229               20.880001
22        0.210096               20.880001
23        0.199169               20.880001

In [33]:
import openmeteo_requests

import requests_cache
import pandas as pd
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = 3600)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://api.open-meteo.com/v1/forecast"
params = {
	"latitude": 52.52,
	"longitude": 13.41,
	"hourly": ["temperature_2m", "relative_humidity_2m", "dew_point_2m", "pressure_msl", "surface_pressure", "cloud_cover_low", "cloud_cover_mid", "cloud_cover_high", "vapour_pressure_deficit", "wind_gusts_10m", "soil_moisture_0_to_7cm"],
	"forecast_days": 3
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates {response.Latitude()}째N {response.Longitude()}째E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

# Process hourly data. The order of variables needs to be the same as requested.
hourly = response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_relative_humidity_2m = hourly.Variables(1).ValuesAsNumpy()
hourly_dew_point_2m = hourly.Variables(2).ValuesAsNumpy()
hourly_pressure_msl = hourly.Variables(3).ValuesAsNumpy()
hourly_surface_pressure = hourly.Variables(4).ValuesAsNumpy()
hourly_cloud_cover_low = hourly.Variables(5).ValuesAsNumpy()
hourly_cloud_cover_mid = hourly.Variables(6).ValuesAsNumpy()
hourly_cloud_cover_high = hourly.Variables(7).ValuesAsNumpy()
hourly_vapour_pressure_deficit = hourly.Variables(8).ValuesAsNumpy()
hourly_wind_gusts_10m = hourly.Variables(9).ValuesAsNumpy()
hourly_soil_moisture_0_to_7cm = hourly.Variables(10).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
	start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
	end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = hourly.Interval()),
	inclusive = "left"
)}
hourly_data["temperature_2m"] = hourly_temperature_2m
hourly_data["relative_humidity_2m"] = hourly_relative_humidity_2m
hourly_data["dew_point_2m"] = hourly_dew_point_2m
hourly_data["pressure_msl"] = hourly_pressure_msl
hourly_data["surface_pressure"] = hourly_surface_pressure
hourly_data["cloud_cover_low"] = hourly_cloud_cover_low
hourly_data["cloud_cover_mid"] = hourly_cloud_cover_mid
hourly_data["cloud_cover_high"] = hourly_cloud_cover_high
hourly_data["vapour_pressure_deficit"] = hourly_vapour_pressure_deficit
hourly_data["wind_gusts_10m"] = hourly_wind_gusts_10m
hourly_data["soil_moisture_0_to_7cm"] = hourly_soil_moisture_0_to_7cm

hourly_dataframe = pd.DataFrame(data = hourly_data)
print(hourly_dataframe)

Coordinates 52.52000045776367째N 13.419998168945312째E
Elevation 38.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s
                        date  temperature_2m  relative_humidity_2m  \
0  2024-08-15 00:00:00+00:00       22.295500                  88.0
1  2024-08-15 01:00:00+00:00       21.745501                  91.0
2  2024-08-15 02:00:00+00:00       21.045500                  92.0
3  2024-08-15 03:00:00+00:00       20.245501                  96.0
4  2024-08-15 04:00:00+00:00       20.095499                  91.0
..                       ...             ...                   ...
67 2024-08-17 19:00:00+00:00       22.438999                  73.0
68 2024-08-17 20:00:00+00:00       21.588999                  77.0
69 2024-08-17 21:00:00+00:00       21.088999                  79.0
70 2024-08-17 22:00:00+00:00       20.889000                  80.0
71 2024-08-17 23:00:00+00:00       20.588999                  81.0

    dew_point_2m  pressure_msl  surface_pressure  cloud_cover_low  \
0      20.210997   1013.099976       1008.660156              0.0
1      20.210819   1013.200012       1008.751282             39.0
2      19.694904   1013.400024       1008.940002              0.0
3      19.586550   1013.299988       1008.828308              0.0
4      18.579830   1013.099976       1008.626648              0.0
..           ...           ...               ...              ...
67     17.360025   1011.799988       1007.367798              2.0
68     17.384069   1011.799988       1007.355225              1.0
69     17.304928   1011.500000       1007.048950              0.0
70     17.309507   1011.200012       1006.747375              0.0
71     17.213860   1010.900024       1006.444031              0.0

    cloud_cover_mid  cloud_cover_high  vapour_pressure_deficit  \
0              99.0               0.0                 0.322931
1              35.0               0.0                 0.234224
2               0.0               0.0                 0.199481
3              11.0               0.0                 0.094952
4              32.0               0.0                 0.211691
..              ...               ...                      ...
67             44.0               0.0                 0.733125
68             55.0               0.0                 0.593019
69             95.0               0.0                 0.525142
70             97.0               0.0                 0.494035
71             84.0              29.0                 0.460761

    wind_gusts_10m  soil_moisture_0_to_7cm
0             8.28                     NaN
1             5.04                     NaN
2             6.48                     NaN
3             6.48                     NaN
4             8.28                     NaN
..             ...                     ...
67            7.92                     NaN
68            8.28                     NaN
69            6.84                     NaN
70            7.92                     NaN
71            7.92                     NaN

[72 rows x 12 columns]

In [34]:
hourly_dataframe["hour"] = hourly_dataframe["date"].dt.hour
hourly_dataframe["Periodo"] = hourly_dataframe["hour"].apply(lambda x: 1 if x <= 8 else (2 if x <= 16 else 3))
hourly_dataframe.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,pressure_msl,surface_pressure,cloud_cover_low,cloud_cover_mid,cloud_cover_high,vapour_pressure_deficit,wind_gusts_10m,soil_moisture_0_to_7cm,hour,Periodo
0,2024-08-15 00:00:00+00:00,22.295500,88.0,20.210997,1013.099976,1008.660156,0.0,99.0,0.0,0.322931,8.28,NaN,0,1
1,2024-08-15 01:00:00+00:00,21.745501,91.0,20.210819,1013.200012,1008.751282,39.0,35.0,0.0,0.234224,5.04,NaN,1,1
2,2024-08-15 02:00:00+00:00,21.045500,92.0,19.694904,1013.400024,1008.940002,0.0,0.0,0.0,0.199481,6.48,NaN,2,1
3,2024-08-15 03:00:00+00:00,20.245501,96.0,19.586550,1013.299988,1008.828308,0.0,11.0,0.0,0.094952,6.48,NaN,3,1
4,2024-08-15 04:00:00+00:00,20.095499,91.0,18.579830,1013.099976,1008.626648,0.0,32.0,0.0,0.211691,8.28,NaN,4,1

In [35]:
hourly_dataframe["Fecha"]= hourly_dataframe["date"].dt.date

In [36]:
hourly_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     72 non-null     datetime64[ns, UTC]
 1   temperature_2m           72 non-null     float32
 2   relative_humidity_2m     72 non-null     float32
 3   dew_point_2m             72 non-null     float32
 4   pressure_msl             72 non-null     float32
 5   surface_pressure         72 non-null     float32
 6   cloud_cover_low          72 non-null     float32
 7   cloud_cover_mid          72 non-null     float32
 8   cloud_cover_high         72 non-null     float32
 9   vapour_pressure_deficit  72 non-null     float32
 10  wind_gusts_10m           72 non-null     float32
 11  soil_moisture_0_to_7cm   0 non-null      float32
 12  hour                     72 non-null     int32
 13  Periodo                  72 non-null     int64
 14  Fecha                    72 non-null     object
dtypes: datetime64[ns, UTC](1), float32(11), int32(1), int64(1), object(1)
memory usage: 5.2+ KB

In [38]:
df_period = hourly_dataframe.groupby(['Fecha', 'Periodo']).agg({"temperature_2m":'mean',
'relative_humidity_2m':'mean',
'dew_point_2m':'mean',
'pressure_msl':'mean',
'surface_pressure':'mean',
'cloud_cover_low':'mean',
'cloud_cover_mid':'mean',
'cloud_cover_high':'mean',
'vapour_pressure_deficit':'mean',
'wind_gusts_10m':'mean',
'soil_moisture_0_to_7cm':'mean'})

In [39]:
df_period.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9 entries, (datetime.date(2024, 8, 15), 1) to (datetime.date(2024, 8, 17), 3)
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   temperature_2m           9 non-null      float32
 1   relative_humidity_2m     9 non-null      float32
 2   dew_point_2m             9 non-null      float32
 3   pressure_msl             9 non-null      float32
 4   surface_pressure         9 non-null      float32
 5   cloud_cover_low          9 non-null      float32
 6   cloud_cover_mid          9 non-null      float32
 7   cloud_cover_high         9 non-null      float32
 8   vapour_pressure_deficit  9 non-null      float32
 9   wind_gusts_10m           9 non-null      float32
 10  soil_moisture_0_to_7cm   0 non-null      float32
dtypes: float32(11)
memory usage: 572.0 bytes

In [40]:
df_period.head(24)

                    temperature_2m  relative_humidity_2m  dew_point_2m  \
Fecha      Periodo
2024-08-15 1             21.623278             87.777779     19.460546
           2             27.226749             58.375000     18.313044
           3             23.488358             73.000000     18.233927
2024-08-16 1             20.456612             79.000000     16.632666
           2             27.864250             45.750000     14.988606
           3             22.938356             70.142860     17.058384
2024-08-17 1             20.162167             84.666664     17.488340
           2             23.832188             67.000000     17.216101
           3             22.074713             74.285713     17.217226

                    pressure_msl  surface_pressure  cloud_cover_low  \
Fecha      Periodo
2024-08-15 1         1013.622192       1009.169800        20.555555
           2         1014.912476       1010.537476        60.250000
           3         1015.442871       1011.010315         5.857143
2024-08-16 1         1016.000000       1011.519409        14.555555
           2         1015.187500       1010.820496        14.125000
           3         1015.157166       1010.717712         0.000000
2024-08-17 1         1014.544495       1010.065857        16.555555
           2         1013.512512       1009.093689        49.750000
           3         1011.500000       1007.063782         1.714286

                    cloud_cover_mid  cloud_cover_high  \
Fecha      Periodo
2024-08-15 1              36.111111          0.000000
           2              46.250000          0.000000
           3               0.000000         28.000000
2024-08-16 1              11.666667         66.777779
           2              31.125000         36.875000
           3              69.714287          1.142857
2024-08-17 1              94.555557         61.666668
           2              80.000000         16.625000
           3              62.428570         15.285714

                    vapour_pressure_deficit  wind_gusts_10m  \
Fecha      Periodo
2024-08-15 1                       0.328456        9.679999
           2                       1.513685       28.349998
           3                       0.817292       14.554285
2024-08-16 1                       0.525703       10.200000
           2                       2.045486       29.429998
           3                       0.866164       15.274285
2024-08-17 1                       0.364609        7.280000
           2                       0.997712       17.865000
           3                       0.699019       10.285714

                    soil_moisture_0_to_7cm
Fecha      Periodo
2024-08-15 1                           NaN
           2                           NaN
           3                           NaN
2024-08-16 1                           NaN
           2                           NaN
           3                           NaN
2024-08-17 1                           NaN
           2                           NaN
           3                           NaN

In [41]:

df_period.index = df_period.index.set_levels(df_period.index.levels[1].map({1:'Manana', 2:'Tarde', 3:'Noche'}), level=1)
df_period

                    temperature_2m  relative_humidity_2m  dew_point_2m  \
Fecha      Periodo
2024-08-15 Manana        21.623278             87.777779     19.460546
           Tarde         27.226749             58.375000     18.313044
           Noche         23.488358             73.000000     18.233927
2024-08-16 Manana        20.456612             79.000000     16.632666
           Tarde         27.864250             45.750000     14.988606
           Noche         22.938356             70.142860     17.058384
2024-08-17 Manana        20.162167             84.666664     17.488340
           Tarde         23.832188             67.000000     17.216101
           Noche         22.074713             74.285713     17.217226

                    pressure_msl  surface_pressure  cloud_cover_low  \
Fecha      Periodo
2024-08-15 Manana    1013.622192       1009.169800        20.555555
           Tarde     1014.912476       1010.537476        60.250000
           Noche     1015.442871       1011.010315         5.857143
2024-08-16 Manana    1016.000000       1011.519409        14.555555
           Tarde     1015.187500       1010.820496        14.125000
           Noche     1015.157166       1010.717712         0.000000
2024-08-17 Manana    1014.544495       1010.065857        16.555555
           Tarde     1013.512512       1009.093689        49.750000
           Noche     1011.500000       1007.063782         1.714286

                    cloud_cover_mid  cloud_cover_high  \
Fecha      Periodo
2024-08-15 Manana         36.111111          0.000000
           Tarde          46.250000          0.000000
           Noche           0.000000         28.000000
2024-08-16 Manana         11.666667         66.777779
           Tarde          31.125000         36.875000
           Noche          69.714287          1.142857
2024-08-17 Manana         94.555557         61.666668
           Tarde          80.000000         16.625000
           Noche          62.428570         15.285714

                    vapour_pressure_deficit  wind_gusts_10m  \
Fecha      Periodo
2024-08-15 Manana                  0.328456        9.679999
           Tarde                   1.513685       28.349998
           Noche                   0.817292       14.554285
2024-08-16 Manana                  0.525703       10.200000
           Tarde                   2.045486       29.429998
           Noche                   0.866164       15.274285
2024-08-17 Manana                  0.364609        7.280000
           Tarde                   0.997712       17.865000
           Noche                   0.699019       10.285714

                    soil_moisture_0_to_7cm
Fecha      Periodo
2024-08-15 Manana                      NaN
           Tarde                       NaN
           Noche                       NaN
2024-08-16 Manana                      NaN
           Tarde                       NaN
           Noche                       NaN
2024-08-17 Manana                      NaN
           Tarde                       NaN
           Noche                       NaN

In [42]:
df_datos= pd.DataFrame(df_period, columns=['temperature_2m', 'relative_humidity_2m','wind_gusts_10m'])

In [45]:
#traduzco los nombres de las columnas
df_datos.columns = ['Temperatura (째C)', 'Humedad relativa (%)','Rafagas del viento(km/h)']

In [46]:
df_datos

                    Temperatura (째C)  Humedad relativa (%)  \
Fecha      Periodo
2024-08-15 Manana          21.623278             87.777779
           Tarde           27.226749             58.375000
           Noche           23.488358             73.000000
2024-08-16 Manana          20.456612             79.000000
           Tarde           27.864250             45.750000
           Noche           22.938356             70.142860
2024-08-17 Manana          20.162167             84.666664
           Tarde           23.832188             67.000000
           Noche           22.074713             74.285713

                    Rafagas del viento(km/h)
Fecha      Periodo
2024-08-15 Manana                   9.679999
           Tarde                   28.349998
           Noche                   14.554285
2024-08-16 Manana                  10.200000
           Tarde                   29.429998
           Noche                   15.274285
2024-08-17 Manana                   7.280000
           Tarde                   17.865000
           Noche                   10.285714

In [47]:
fechas= df_period.index.get_level_values(0)

In [48]:
#elimino datos repetidos de la fecha
fechas = fechas.unique()
fechas

Index([2024-08-15, 2024-08-16, 2024-08-17], dtype='object', name='Fecha')

In [49]:
import joblib

model = joblib.load('model.pkl')

/home/leo/.local/lib/python3.10/site-packages/sklearn/base.py:376: InconsistentVersionWarning: Trying to unpickle estimator DecisionTreeRegressor from version 1.5.0 when using version 1.4.1.post1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/leo/.local/lib/python3.10/site-packages/sklearn/base.py:376: InconsistentVersionWarning: Trying to unpickle estimator RandomForestRegressor from version 1.5.0 when using version 1.4.1.post1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [50]:
prediccion = model.predict(df_period)
print(f'Predicci처n para ma챰ana: {prediccion}')

Predicci처n para ma챰ana: [0.24507143 0.08685714 0.064      0.03738095 0.26753571 0.0817877
 0.59760913 0.52177977 0.13977778]

In [51]:
import numpy as np
import pandas as pd

# Convertir la lista en un array de NumPy para facilitar el redimensionamiento
array_prediccion = np.array(prediccion)

# Redimensionar el array en una matriz con 3 columnas
array_prediccion_reshaped = array_prediccion.reshape(-1, 3)

# Crear un DataFrame a partir de la matriz
df = pd.DataFrame(array_prediccion_reshaped, columns=['Ma챰ana', 'Tarde', 'Noche'], index=fechas)
df
# Mostrar el DataFrame
print(df)

              Ma챰ana     Tarde     Noche
Fecha
2024-08-15  0.245071  0.086857  0.064000
2024-08-16  0.037381  0.267536  0.081788
2024-08-17  0.597609  0.521780  0.139778

In [52]:
df

              Ma챰ana     Tarde     Noche
Fecha
2024-08-15  0.245071  0.086857  0.064000
2024-08-16  0.037381  0.267536  0.081788
2024-08-17  0.597609  0.521780  0.139778

In [53]:
from datetime import date
date.today().isoformat()

'2024-08-15'