In [1]:
import openmeteo_requests
import requests_cache
import pandas as pd
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = 3600)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://api.open-meteo.com/v1/forecast"
params = {
	"latitude": -48.4814,
	"longitude": -72.5891,
	"hourly": ["temperature_2m","relative_humidity_2m", "dew_point_2m", "rain", "snowfall", "pressure_msl", "surface_pressure", "cloud_cover_low", "cloud_cover_mid", "cloud_cover_high", "vapour_pressure_deficit", "wind_gusts_10m", "soil_moisture_0_to_7cm"],
	"start_date": "2024-08-08",
	"end_date": "2024-08-08"
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates {response.Latitude()}째N {response.Longitude()}째E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

# Process hourly data. The order of variables needs to be the same as requested.
hourly = response.Hourly()
hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_relative_humidity_2m = hourly.Variables(0).ValuesAsNumpy()
hourly_dew_point_2m = hourly.Variables(1).ValuesAsNumpy()
hourly_rain = hourly.Variables(2).ValuesAsNumpy()
hourly_snowfall = hourly.Variables(3).ValuesAsNumpy()
hourly_pressure_msl = hourly.Variables(4).ValuesAsNumpy()
hourly_surface_pressure = hourly.Variables(5).ValuesAsNumpy()
hourly_cloud_cover_low = hourly.Variables(6).ValuesAsNumpy()
hourly_cloud_cover_mid = hourly.Variables(7).ValuesAsNumpy()
hourly_cloud_cover_high = hourly.Variables(8).ValuesAsNumpy()
hourly_vapour_pressure_deficit = hourly.Variables(9).ValuesAsNumpy()
hourly_wind_gusts_10m = hourly.Variables(10).ValuesAsNumpy()
hourly_soil_moisture_0_to_1cm = hourly.Variables(11).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
	start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
	end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = hourly.Interval()),
	inclusive = "left"
)}
hourly_data["temperature_2m"] = hourly_temperature_2m
hourly_data["relative_humidity_2m"] = hourly_relative_humidity_2m
hourly_data["dew_point_2m"] = hourly_dew_point_2m
hourly_data["rain"] = hourly_rain
hourly_data["snowfall"] = hourly_snowfall
hourly_data["pressure_msl"] = hourly_pressure_msl
hourly_data["surface_pressure"] = hourly_surface_pressure
hourly_data["cloud_cover_low"] = hourly_cloud_cover_low
hourly_data["cloud_cover_mid"] = hourly_cloud_cover_mid
hourly_data["cloud_cover_high"] = hourly_cloud_cover_high
hourly_data["vapour_pressure_deficit"] = hourly_vapour_pressure_deficit
hourly_data["wind_gusts_10m"] = hourly_wind_gusts_10m
hourly_data["soil_moisture_0_to_7cm"] = hourly_soil_moisture_0_to_1cm

hourly_dataframe = pd.DataFrame(data = hourly_data)
print(hourly_dataframe)

Coordinates -48.375째N -72.625째E
Elevation 257.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s
                        date  temperature_2m  relative_humidity_2m  \
0  2024-08-08 00:00:00+00:00            2.27                  2.27
1  2024-08-08 01:00:00+00:00            2.27                  2.27
2  2024-08-08 02:00:00+00:00            2.07                  2.07
3  2024-08-08 03:00:00+00:00            1.82                  1.82
4  2024-08-08 04:00:00+00:00            1.57                  1.57
5  2024-08-08 05:00:00+00:00            1.57                  1.57
6  2024-08-08 06:00:00+00:00            0.77                  0.77
7  2024-08-08 07:00:00+00:00            0.67                  0.67
8  2024-08-08 08:00:00+00:00            0.67                  0.67
9  2024-08-08 09:00:00+00:00            0.87                  0.87
10 2024-08-08 10:00:00+00:00            1.07                  1.07
11 2024-08-08 11:00:00+00:00            1.42                  1.42
12 2024-08-08 12:00:00+00:00            1.22                  1.22
13 2024-08-08 13:00:00+00:00            1.32                  1.32
14 2024-08-08 14:00:00+00:00            1.67                  1.67
15 2024-08-08 15:00:00+00:00            2.52                  2.52
16 2024-08-08 16:00:00+00:00            3.57                  3.57
17 2024-08-08 17:00:00+00:00            4.52                  4.52
18 2024-08-08 18:00:00+00:00            6.47                  6.47
19 2024-08-08 19:00:00+00:00            6.92                  6.92
20 2024-08-08 20:00:00+00:00            6.92                  6.92
21 2024-08-08 21:00:00+00:00            6.57                  6.57
22 2024-08-08 22:00:00+00:00            6.27                  6.27
23 2024-08-08 23:00:00+00:00            6.17                  6.17

    dew_point_2m      rain  snowfall  pressure_msl  surface_pressure  \
0           77.0 -1.347583       0.0           0.0       1027.300049
1           77.0 -1.347583       0.0           0.0       1026.500000
2           77.0 -1.541730       0.0           0.0       1026.300049
3           77.0 -1.784420       0.0           0.0       1025.599976
4           78.0 -1.852015       0.0           0.0       1025.199951
5           79.0 -1.678892       0.0           0.0       1024.599976
6           80.0 -2.287731       0.0           0.0       1024.199951
7           79.0 -2.555186       0.0           0.0       1023.200012
8           78.0 -2.727055       0.0           0.0       1022.299988
9           76.0 -2.882845       0.0           0.0       1021.700012
10          75.0 -2.867449       0.0           0.0       1021.200012
11          74.0 -2.709784       0.0           0.0       1021.000000
12          82.0 -1.513154       0.1           0.0       1020.799988
13          89.0 -0.293719       0.1           0.0       1020.500000
14          93.0  0.659675       0.1           0.0       1019.799988
15          90.0  1.045750       0.2           0.0       1019.200012
16          89.0  1.926527       0.3           0.0       1018.500000
17          88.0  2.704477       0.2           0.0       1017.000000
18          82.0  3.618780       0.1           0.0       1015.099976
19          78.0  3.347752       0.1           0.0       1014.700012
20          77.0  3.165021       0.1           0.0       1014.400024
21          77.0  2.825450       0.1           0.0       1014.400024
22          78.0  2.716174       0.0           0.0       1014.400024
23          79.0  2.798608       0.0           0.0       1014.700012

    cloud_cover_low  cloud_cover_mid  cloud_cover_high  \
0        995.164307             38.0               0.0
1        994.389282             44.0               0.0
2        994.172729             36.0               4.0
3        993.465698             30.0              43.0
4        993.049744             14.0             100.0
5        992.468567              0.0             100.0
6        991.988892              0.0              63.0
7        991.008850              0.0              42.0
8        990.137146              9.0              43.0
9        989.579102             49.0              34.0
10       989.117920             90.0              57.0
11       988.964355             73.0              66.0
12       988.747559             78.0              66.0
13       988.468567             81.0              68.0
14       987.830322             81.0              65.0
15       987.345947             77.0              60.0
16       986.786316             85.0              59.0
17       985.439575             86.0              65.0
18       983.813965             80.0              56.0
19       983.475525             79.0              58.0
20       983.184753             76.0              44.0
21       983.146729             76.0              47.0
22       983.113525             80.0              47.0
23       983.393494             79.0              41.0

    vapour_pressure_deficit  wind_gusts_10m  soil_moisture_0_to_7cm
0                      43.0        0.165963               11.520000
1                       2.0        0.165963               10.799999
2                       0.0        0.163613               12.240000
3                      65.0        0.160717               11.879999
4                     100.0        0.151004               12.240000
5                     100.0        0.144141               12.599999
6                      99.0        0.129606               11.159999
7                      27.0        0.135107               10.799999
8                      57.0        0.141539               10.799999
9                      47.0        0.156648               11.159999
10                     53.0        0.165541               13.679999
11                     10.0        0.176546               15.840000
12                     13.0        0.120487               16.919998
13                     51.0        0.074164               15.119999
14                     10.0        0.048395               15.840000
15                     18.0        0.073456               16.199999
16                      0.0        0.087034               17.280001
17                      0.0        0.101492               17.280001
18                      0.0        0.174280               18.000000
19                      0.0        0.219695               18.719999
20                      0.0        0.229681               19.799999
21                      0.0        0.224229               20.880001
22                      0.0        0.210096               20.880001
23                      0.0        0.199169               20.880001

In [2]:
hourly_dataframe["hour"] = hourly_dataframe["date"].dt.hour
hourly_dataframe["period"] = hourly_dataframe["hour"].apply(lambda x: 1 if x <= 8 else (2 if x <= 16 else 3))
hourly_dataframe.head()

,date,temperature_2m,relative_humidity_2m,dew_point_2m,rain,snowfall,pressure_msl,surface_pressure,cloud_cover_low,cloud_cover_mid,cloud_cover_high,vapour_pressure_deficit,wind_gusts_10m,soil_moisture_0_to_7cm,hour,period
0,2024-08-08 00:00:00+00:00,2.27,2.27,77.0,-1.347583,0.0,0.0,1027.300049,995.164307,38.0,0.0,43.0,0.165963,11.520000,0,1
1,2024-08-08 01:00:00+00:00,2.27,2.27,77.0,-1.347583,0.0,0.0,1026.500000,994.389282,44.0,0.0,2.0,0.165963,10.799999,1,1
2,2024-08-08 02:00:00+00:00,2.07,2.07,77.0,-1.541730,0.0,0.0,1026.300049,994.172729,36.0,4.0,0.0,0.163613,12.240000,2,1
3,2024-08-08 03:00:00+00:00,1.82,1.82,77.0,-1.784420,0.0,0.0,1025.599976,993.465698,30.0,43.0,65.0,0.160717,11.879999,3,1
4,2024-08-08 04:00:00+00:00,1.57,1.57,78.0,-1.852015,0.0,0.0,1025.199951,993.049744,14.0,100.0,100.0,0.151004,12.240000,4,1

In [3]:
hourly_dataframe["date"]= hourly_dataframe["date"].dt.date

In [4]:
hourly_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     24 non-null     object
 1   temperature_2m           24 non-null     float32
 2   relative_humidity_2m     24 non-null     float32
 3   dew_point_2m             24 non-null     float32
 4   rain                     24 non-null     float32
 5   snowfall                 24 non-null     float32
 6   pressure_msl             24 non-null     float32
 7   surface_pressure         24 non-null     float32
 8   cloud_cover_low          24 non-null     float32
 9   cloud_cover_mid          24 non-null     float32
 10  cloud_cover_high         24 non-null     float32
 11  vapour_pressure_deficit  24 non-null     float32
 12  wind_gusts_10m           24 non-null     float32
 13  soil_moisture_0_to_7cm   24 non-null     float32
 14  hour                     24 non-null     int32
 15  period                   24 non-null     int64
dtypes: float32(13), int32(1), int64(1), object(1)
memory usage: 1.8+ KB

In [5]:
df_period = hourly_dataframe.groupby(['date', 'period']).agg({"temperature_2m":'mean',
'relative_humidity_2m':'mean',
'dew_point_2m':'mean',
'rain':'mean',
'snowfall':'mean',
'pressure_msl':'mean',
'surface_pressure':'mean',
'cloud_cover_low':'mean',
'cloud_cover_mid':'mean',
'cloud_cover_high':'mean',
'vapour_pressure_deficit':'mean',
'wind_gusts_10m':'mean',
'soil_moisture_0_to_7cm':'mean'})

In [6]:
df_period.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3 entries, (datetime.date(2024, 8, 8), 1) to (datetime.date(2024, 8, 8), 3)
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   temperature_2m           3 non-null      float32
 1   relative_humidity_2m     3 non-null      float32
 2   dew_point_2m             3 non-null      float32
 3   rain                     3 non-null      float32
 4   snowfall                 3 non-null      float32
 5   pressure_msl             3 non-null      float32
 6   surface_pressure         3 non-null      float32
 7   cloud_cover_low          3 non-null      float32
 8   cloud_cover_mid          3 non-null      float32
 9   cloud_cover_high         3 non-null      float32
 10  vapour_pressure_deficit  3 non-null      float32
 11  wind_gusts_10m           3 non-null      float32
 12  soil_moisture_0_to_7cm   3 non-null      float32
dtypes: float32(13)
memory usage: 286.0 bytes

In [7]:
df_period.head(24)

                   temperature_2m  relative_humidity_2m  dew_point_2m  \
date       period
2024-08-08 1             1.520000              1.520000      78.00000
           2             1.707500              1.707500      83.50000
           3             6.262857              6.262857      79.85714

                       rain  snowfall  pressure_msl  surface_pressure  \
date       period
2024-08-08 1      -1.902466  0.000000           0.0       1025.022217
           2      -0.829375  0.100000           0.0       1020.337524
           3       3.025180  0.085714           0.0       1014.957153

                   cloud_cover_low  cloud_cover_mid  cloud_cover_high  \
date       period
2024-08-08 1            992.871765        19.000000         43.888889
           2            988.354980        76.750000         59.375000
           3            983.652466        79.428574         51.142857

                   vapour_pressure_deficit  wind_gusts_10m  \
date       period
2024-08-08 1                     54.777779        0.150850
           2                     25.250000        0.112784
           3                      0.000000        0.194092

                   soil_moisture_0_to_7cm
date       period
2024-08-08 1                    11.559999
           2                    15.254999
           3                    19.491428

In [8]:
from pickle import load
import streamlit as st
model = load(open("model.sav", "rb"))

In [9]:
prediccion = model.predict(df_period)
print(f'Predicci처n para ma챰ana: {prediccion}')

Predicci처n para ma챰ana: [0.        0.        3.0232738]

In [10]:
prediccion[2]

3.0232738041877747

In [11]:
period_dict = {
    "0": "Ma챰ana",
    "1": "Tarde",
    "2": "Noche"
}

periodos = ['Manana', 'Tarde', 'Noche']

In [14]:
#creo un df con las tres columnas de period_dict como nombre de columna
df = pd.DataFrame()

# creamos las columnas
df['Ma챰ana'] = None
df['Tarde'] = None
df['Noche'] = None

df.loc['Prediccion'] = prediccion

In [15]:
df

            Ma챰ana  Tarde     Noche
Prediccion     0.0    0.0  3.023274

In [17]:
from datetime import date
date.today().isoformat()

'2024-08-09'